@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Remove cancle Icon */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  /* Remove Select Icon */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }

  /* Remove Input Range Icon */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "PublicSansRegular";
  src: url("./assets/static/PublicSans-Regular.ttf");
}

@font-face {
  font-family: "PublicSansBold";
  src: url("./assets/static/PublicSans-Bold.ttf");
}
